@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;font-family: 'Exo 2', sans-serif;font-weight: 600;}
p {
	-youbkit-touch-callout: none; /* iOS Safari */
	-youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
	-moz-user-select: none;	   /* Firefox */
	-ms-user-select: none;		/* IE 10+ and Edge */
	user-select: none;			/* Non-prefixed version,
								  currently supported by Chrome and Opera */
}
/*header*/
header {
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: 0px 0px 10px -6px;
    -moz-box-shadow: 0px 0px 10px -6px;
    -webkit-box-shadow: 0px 0px 10px -6px;
}
.head_sec {
    width: 1140px;
    margin: auto;
    height: 60px;
}
div#icon_box {
    width: 230px;
    height: 58px;
    float: left;
}
div#icon_box ul {
    width: 230px;
    height: 58px;
}
div#icon_box ul li {
    width: 50px;
    height: 58px;
    float: left;
    margin-right: 5px;
    display: grid;
    place-items: center;
}
div#icon_box ul li a {
    font-size: 28px;
    color: blue;
    cursor: pointer;
    padding: 6px;
    border-radius: 40px;
    transition: .1s ease-in;
}
div#icon_box ul li a:hover{color: gray;}

div#icon_box ul li p {
    font-size: 36px;
    font-weight: 700;
    background: black;
    border-radius: 54px;
    width: 54px;
    height: 54px;
    color: yellow;
    padding: 3px;
    cursor: not-allowed;
}
div#icon_box ul li p span {
    color: red;
    text-transform: unset;
    font-family: monospace;
}
div#user_box {
    width: 340px;
    height: 58px;
    float: left;
    margin-left: 20px;
    cursor: default;
    padding: 14px 0px;
}
div#user_box i {font-size: 28px;}
div#user_box p {
    width: 300px;
    float: right;
    text-align: left;
    font-weight: 700;
    height: 34px;
    font-size: 25px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.me_name {
    background: #f0f2f7;
    width: 350px;
    padding: 0px 4px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.me_name:hover a p {text-decoration: underline;}
.me_name:hover{text-decoration: underline;}
.me_name:hover i{color: gray;}
div#user_box p span,.msg_box span{font-weight: 700;}
div#last_box {
    width: 300px;
    height: 58px;
    float: right;
    text-align: right;
    overflow: hidden;
}
.msg_box {
    width: 170px;
    height: 58px;
    float: left;
    text-align: right;
    padding: 14px 0px;
    font-size: 25px;
    text-transform: capitalize;
}
.me_msg {
    background: #f0f2f5;
    padding: 3px 7px;
    border-radius: 40px;
    cursor: pointer;
    transition: .1s ease-in;
    background-size: 100% 200%;
    background-image: linear-gradient(to top,blue 50%,transparent 50%);
}
.me_msg:hover{color: white;background-position: 0% 100%;}
.me_msg:hover a{color: white;}
.pro_icon_box {
    width: 58px;
    height: 58px;
    float: right;
    padding: 4px 0px;
    display: grid;
    place-items: center;
    border-radius: 58px;
    cursor: pointer;
    overflow: hidden;
}
.pro_icon_box img {
    border-radius: 50px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    object-fit: cover;
}
.pro_icon_box i {
    position: relative;
    bottom: 150%;
    font-size: 23px;
    color: white;
    transition: .1s;
    opacity: 0;
}
.pro_icon_box span{display: none;}
.pro_icon_box:hover img{filter: brightness(.5);}
.pro_icon_box:hover i{opacity: 1;transform: rotate(180deg);}

div#abcGet {
    width: 300px;
    height: 35px;
    position: absolute;
    place-items: center;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 5px;
    padding: 4px;
    background: black;
    border-radius: 40px;
    display: none;
    box-shadow: 0px 0px 15px 0px rgb(32 32 32);
    z-index: 1;
}
form#head_form {
    width: 300px;
    text-align: center;
    overflow: hidden;
    margin-left: -4px;
    margin-top: -4px;
    z-index: 1;
}
input#abcSrc {
    height: 36px;
    font-size: 16px;
    width: 250px;
    float: left;
    margin-left: -4px;
    outline: none;
    border: none;
    padding: 0px 25px;
    background: #f0f2f5;
    transition: .1s;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, black 50%, transparent 50%);
}
button#abcSrch_btn {
    height: 36px;
    width: 54px;
    float: right;
    border: none;
    background: #f0f2f5;
    color: #000000c9;
    font-size: 20px;
    transition: .1s;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, black 50%, transparent 50%);
}
input#abcSrc:focus{background: wheat;}
input#abcSrc:hover,button#abcSrch_btn:hover{background-position: 0% 100%;color: white;}

/*cog box*/
div#cog_box {
    width: 260px;
    height: 245px;
    border-radius: 6px;
    box-shadow: 0px 19px 33px -18px;
    text-align: center;
    padding: 8px;
    position: absolute;
    z-index: 1;
    background: white;
    float: right;
    right: 30px;
    display: none;
}
.cog_wrapper {
    height: 236px;
    width: 99%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-transform: capitalize;
}
.cog_top {
    width: 95%;
    height: 66px;
    margin: auto;
    text-align: center;
    padding: 3px;
}
.cog_top img {
    width: 50px;
    height: 50px;
    border-radius: 70px;
    margin: auto;
    object-fit: cover;
}
.proEdit, .pwd,.pblm, .lOut {
    width: 80%;
    height: 37px;
    margin: auto;
    text-align: center;
    margin-top: 7px;
    font-size: 17px;
    word-spacing: 3px;
}
.pwd a i, .lOut a i, .proEdit a i,.pblm a i {
    transition: .2s;
    transform: rotate(-360deg);
}
.pwd a:hover,.proEdit a:hover,.lOut a:hover,.pblm a:hover {
    padding: 5px;
    border: 1px solid;
    transition: .2s;
    color: red;
}
.pwd a:hover i,.lOut a:hover i,.proEdit a:hover i,.pblm a:hover i {
    transform: rotate(0deg);
    transition: .2s;
}

/*main section*/
section.primary_sec {width: 100%;height: 620px;overflow: hidden;margin-top: -21px;}
div#container {width: 940px;height: 620px;margin: auto;}
.topSec {width: 100%;height: 620px;margin: auto;}
/*start cover code*/
/*slider code*/
.cover {
    width: 100%;
    height: 360px;
    border-radius: 0px 0px 14px 14px;
    overflow: hidden;
    box-shadow: 0px -10px 22px 2px;
}
.cover img {
    width: 940px;
    height: 370px;
    margin: auto;
    object-fit: cover;
}
.slider_container{position: relative;height: 360px;}
.slider_container .item {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: .8s;
}
.slider_container .item.active{opacity: 1;}


/*end cover code*/
.profile_pic img {/*start pro_pic  code*/
    width: 160px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 160px;
}
.profile_pic {
    width: 158px;
    height: 158px;
    position: relative;
    bottom: 90px;
    left: 50px;
    border-radius: 160px;
    overflow: hidden;
    float: left;
    text-align: center;
    display: grid;
    place-items: center;
}
div#spiner {
    width: 160px;
    height: 160px;
    position: absolute;
    float: left;
    background: none;
    border-radius: 160px;
    border: 5px solid black;
    border-bottom: 5px dotted blue;
    border-left: 5px solid red;
    border-top: 5px solid white;
    animation: pro_rote 2s ease-in infinite;
}
@keyframes pro_rote{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}/*end pro_pic  code*/
.name {/*start user name  code*/
    height: 68px;
    width: 710px;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
    overflow-wrap: break-word;
    box-shadow: 0px 0px 6px 0px rgb(45 45 45 / 85%);
    padding: 3px 6px;
    border-radius: 6px;
}
.user_name {
    width: 400px;
    height: 60px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user_name p {
    font-size: 35px;
    font-family: arial;
    text-transform: capitalize;
    width: 99%;
    height: 42px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desh {
    width: 99%;
    margin: auto;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desh label {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}/*end user name  code*/
.post_btn {
    width: 250px;
    height: 60px;
    float: right;
    text-align: center;
    display: grid;
    place-items: center;
    overflow: hidden;
}
button#post {
    border-radius: 6px;
    border: none;
    background: #f0f2f5;
    color: black;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
    box-shadow: 0px 0px 28px -5px rgb(32 32 32 / 85%);
    transition: .1s ease-in;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, blue 50%, transparent 50%);
}
button#post:hover{
    color: white;
    background-position: 0%  100%;
}
div#about_sec {
    width: 940px;
    height: 100px;
    margin: auto;
    float: left;
    overflow: hidden;
    box-shadow: 0px 16px 22px -2px rgb(32 32 32 / 19%);
    border-radius: 0px 0px 6px 6px;
    position: relative;
    bottom: 30px;

}
.about {
    width: 900px;
    height: 90px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding: 2px;
}
.about p {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    text-transform: capitalize;
}
.about p::first-letter {
    color: red;
    font-size: 20px;
}
/*secondary section start*/
.secondary_sec {
    width: 100%;
    height: 935px;
    margin: auto;
    background: #f0f2f5;
}
section.secondary_sec .container{height: auto;}
.action_line {
    width: 940px;
    height: 60px;
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding: 6px 0px;
}
.post_photo {
    width: 500px;
    height: 40px;
    padding: 9px 0px;
    overflow: hidden;
    float: left;
}
.action_left {
    width: 100%;
    height: 50px;
    text-transform: capitalize;
}
.right {
    width: 300px;
    float: right;
    height: 50px;
    overflow: hidden;
    padding: 9px 0px;
}
.right a i {font-size: 19px;}
.right a span {font-size: 16px;font-weight: 700;font-family: sans-serif;}
a.action_btn {
    border-radius: 6px;
    border: none;
    background: white;
    color: black;
    padding: 8px 25px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    transition: .1s ease-in;
    margin-right: 12px;
}
a.action_btn:hover{box-shadow: inset 2px 2px 20px -10px rgb(32 32 32 / 86%);}
/*post table*/
.post_view_container {
    height: 850px;
    width: 940px;
}
.post_img_main img {
    width: 530px;
    height: auto;
    object-fit: contain;
}
.post_view {
    width: 940px;
    height: 700px;
    margin: auto;
    margin-top: 15px;
}
.post_cotainer {
    width: 530px;
    height: 545px;
    float: left;
    margin-right: 30px;
    margin-bottom: 12px;
    background: white;
    box-shadow: 0px 5px 28px -5px #0000007a;
    border-radius: 8px;
}
.post_box {
    width: 520px;
    height: 110px;
    margin: auto;
    overflow: hidden;
}
.post_header {
    width: 510px;
    margin: auto;
    height: 70px;
    padding: 4px;
    overflow: hidden;
}
.poster_pic {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid blue;
    overflow: hidden;
    border-radius: 60px;
    float: left;
    cursor: none;
}
.poster_pic:hover img{transition: .2s ease-in;transform: scale(1.1);}
.poster_pic img {
    object-fit: cover;
    overflow: hidden;
    height: 60px;
    width: 60px;
    transition: .2s;
}
.post_name {
    width: 350px;
    float: left;
    height: 60px;
    padding: 8px 4px;
    margin-left: 8px;
}
.post_name p {
    width: 100%;
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: not-allowed;
}
.post_name label {
    font-size: 14px;
    font-family: arial;
    font-weight: 500;
    cursor: default;
}
.post_name span {
    color: gray;
    text-transform: capitalize;
    float: right;
}
.post_text {
    width: 99%;
    margin: auto;
    text-align: center;
    padding: 4px 8px;
    height: 50px;
    overflow: hidden;
}
.post_text p {
    width: 100%;
    margin: auto;
    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-img {
    width: 525px;
    margin: auto;
    overflow: hidden;
    height: 380px;
}
.post_img_main {
    width: 99%;
    margin: auto;
    height: 380px;
    overflow: hidden;
}
.post_img_main img {
    width: 520px;
    height: 380px;
    object-fit: contain;
}
.post_action_box {
    width: 525px;
    height: 52px;
    overflow: hidden;
}
.post_action {
    width: 520px;
    margin: auto;
    overflow: hidden;
    height: 50px;
    padding: 4px 0px 4px 10px;
    border: 1px solid;
    border-left: none;
    border-right: none;
}
.view_box {
    width: 160px;
    padding: 0px 8px;
    height: 38px;
    display: grid;
    place-items: center;
    background: #f0f2f5;
    border-radius: 6px;
    float: left;
    margin-right: 10px;
    transition: .1s ease-in;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, blue 50%, transparent 50%);
}
.view_box i {font-size: 19px;}
.view_box:hover{
    color: white;
    background-position: 0% 100%;
}
.view_box span {
    font-size: 15px;
    font-weight: 800;
}
.post_scl {
    width: 550px;
    height: 770px;
    float: left;
    overflow-y: scroll;
    padding: 8px 0px;
    background: white;
}
.post_scl::-webkit-scrollbar{display: none;}
/*right*/
.info_container {
    width: 369px;
    height: 860px;
    float: right;
    overflow: hidden;
}
.info_table {
    width: 370px;
    height: 730px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    float: left;
}
.mind {
    background: white;
    width: 340px;
    height: 80px;
    overflow: hidden;
    padding: 4px 0px;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0px 3px 18px -4px #0000009e;
}
.mind_box {
    width: 99%;
    height: 72px;
    margin: auto;
    text-align: center;
}
#uMind::-webkit-scrollbar{
    display: none;
}
.mind_box textarea {
    width: 100%;
    height: 50px;
    border: none;
    resize: none;
    padding: 4px 6px;
    font-family: sans-serif;
    outline: none;
    font-size: 15px;
}
button#post_btn {
    width: 99%;
    margin: auto;
    height: 20px;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 6px;
    background: aquamarine;
    transition: .1s ease-in;
    background-size: 100% 200%;
    background-image: linear-gradient(to top,blue 50%,transparent 50%);
}
button#post_btn:hover{
    color: white;
    background-position: 0% 100%;
}
.flw {
    background: white;
    width: 88%;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    place-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 6px -1px;
    color: blue;
}
.flw p {
    font-size: 18px;
    text-transform: capitalize;
    height: 24px;
}
.flw p span {
    color: black;
    font-family: cursive;
}
table {
    margin: auto;
    width: 350px;
    padding: 6px;
    box-shadow: 0px 0px 12px -3px;
    margin-top: 20px;
    border-radius: 6px;
    background: antiquewhite;
}
table i {
    font-size: 24px;
    background: -webkit-linear-gradient(#941400, #13cc3a,#0e9bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info_table table td p{
    font-size: 15px;
    text-transform: capitalize;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 290px;
}
.info_table table td p.low{text-transform: lowercase;}
.total {
    font-size: 17px;
    text-transform: capitalize;
    width: 150px;
}
.total p {
    font-family: arial;
    text-decoration: underline;
}
td input[type=password] {
    padding: 0px 3px;
    border: 2px solid red;
    height: 20px;
    cursor: not-allowed;
}
.media {
    width: 350px;
    height: 45px;
    text-align: center;
    overflow: hidden;
    display: grid;
    place-items: center;
    border-radius: 6px;
    background: white;
    margin: auto;
    box-shadow: 0px 0px 12px -6px;
    margin-top: 20px;
}

div#social {
    width: 90%;
    height: auto;
    font-size: 33px;
    text-align: center;
    margin: auto;
    padding: 5px;
    word-spacing: 10px;
    border-bottom: 2px solid black;
}
#social a i{transition: .2s;}
#social a:first-child{color: rgb(66, 133, 244);transition: .2s;}
#social a:nth-child(2){color: #3b5998; transition: .2s;}
#social a:nth-child(3){color: #00acee; transition: .2s;}
#social a:last-child{color: rgb(255 0 0); transition: .2s;}
div#social a:hover {
    color: blue;
    transition: .4s;
    transform: translateY(10px);
}
div#social a:hover i {
    color: blue;
    transition: .4s;
    transform: translateY(-7px);
}


/*profile upload*/
.pro_up {
    width: 500px;
    height: 200px;
    position: relative;
    bottom: 240px;
    border-radius: 9px;
    padding: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 40px 0px #000000c7;
    z-index: 1;
    display: none;
}
.pro_up_box {
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    background: white;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.Pic_chow {
    width: 180px;
    height: 180px;
    float: left;
    border: 4px solid rgb(255, 0, 0);
    border-radius: 180px;
    overflow: hidden;
    margin-top: 6px;
}
.Pic_chow img {
    width: 175px;
    height: 175px;
    border-radius: 180px;
    object-fit: cover;
}
.btn_room {
    width: 275px;
    height: 180px;
    float: right;
    overflow: hidden;
}
.btn_room form {
    width: 95%;
    height: 180px;
    margin: auto;
    padding: 49px 0px;
}
input#phChk {display: none;}
label.pro_pic_up {
    font-size: 20px;
    background: lightskyblue;
    padding: 2px 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px -7px;
    cursor: pointer;
}
label.pro_pic_up,input#pro_up_btn{
    transition: .1s;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, blue 50%, transparent 50%);
}
label.pro_pic_up:hover{
    color: white;
    background-position: 0% 100%;
}
input#pro_up_btn {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    border-radius: 80px;
    border: navajowhite;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 12px -6px black;
}
input#pro_up_btn:hover{
    transition: .2s;
    transform: translateY(-5px);
    color: white;
    background-position: 0% 100%;
}
/*uploader btn*/
.uploader {
    width: 200px;
    height: 80px;
    padding: 4px;
    position: relative;
    float: right;
    overflow: hidden;
    right: 28px;
    margin-top: -120px;
}
.up_box {
    width: 99%;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
    height: 30px;
    background: white;
    padding: 4px 0px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .1s;
    text-transform: capitalize;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, blue 50%, transparent 50%);
}
.up_box i {
    font-size: 18px;
    color: #005823;
}
.up_box:hover i{color: white;}
.up_box:hover{
    color: white;
    background-position: 0% 100%;
}
/*cover upload box*/
div#cov_up {
    width: 470px;
    height: 240px;
    background: white;
    position: relative;
    bottom: 510px;
    border-radius: 8px;
    margin: auto;
    margin-left: 216px;
    padding: 8px;
    overflow: hidden;
    display: none;
}
.cov_up_container {
    width: 450px;
    margin: auto;
    text-align: center;
    height: 225px;
    display: grid;
    place-items: center;
    overflow: hidden;
    border: 1px dotted blue;
}
.img_wrapper {
    width: 444px;
    margin: auto;
    height: 100px;
    text-align: center;
    overflow: hidden;
}
.img_a {
    width: 103px;
    height: 80px;
    text-align: center;
    margin-right: 7px;
    float: left;
    overflow: hidden;
    border: 2px solid red;
    border-radius: 4px;
    cursor: not-allowed;
}
.file_wrapper {
    width: 444px;
    margin: auto;
    height: 110px;
    overflow: hidden;
}
input[type=file] {display: none;}
label.cov_up_btn {
    font-size: 15px;
    text-transform: capitalize;
    margin-right: 15px;
    padding: 4px 8px;
    cursor: pointer;
    background: gray;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -2px black;
}
label.cov_up_btn:hover{box-shadow: inset 0px 0px 8px -2px black;}
.file_btn {
    width: 400px;
    margin: auto;
    text-align: center;
    height: 40px;
    column-count: 1;
    padding: 8px 0px;
}
.file_wrapper form {
    padding: 8px 0px;
    height: 100px;
}
.up_now {
    height: 40px;
    margin: auto;
    margin-top: 12px;
    width: 200px;
    display: grid;
    place-items: center;
}
input#up_now_btn {
    width: 180px;
    height: 33px;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 6px;
    background: #F2F2DC;
    box-shadow: 0px 0px 34px -7px black;
    cursor: pointer;
    transition: .1s;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, blue 50%, transparent 50%);
}

input#up_now_btn:hover{
    color: white;
    background-position: 0% 100%;
}
.img_a img {object-fit: contain;}
.closeA {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 28px;
    left: 226px;
    float: left;
}
.closeA {
    width: 40px;
    height: 40px;
    position: relative;
    float: right;
    overflow: hidden;
    top: 3px;
    margin-right: -44px;
    font-size: 20px;
    display: grid;
    place-items: center;
    border-radius: 40px;
    transition: .2s;
    cursor: pointer;
}
.closeB {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -32px;
    display: grid;
    place-items: center;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: .1s;
}
.closeC {
    width: 40px;
    height: 40px;
    float: right;
    position: relative;
    bottom: 140px;
    right: 7px;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 40px;
    transition: .1s;
}

.closeA:hover,.closeB:hover,.closeC:hover{
    background: #808080c4;
}
.closeA:hover i,.closeB:hover i,.closeC:hover i{
    transition: .2s;
    transform: rotate(90deg);
}
.closeC i {
    position: absolute;
    bottom: 10px;
    color: black;
}
,.closeC:hover i{color: black;}
/*notice box code*/
div#error {
    width: 350px;
    height: 200px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px #00000047;
    position: absolute;
    margin-left: 472px;
    background: white;
    margin-top: 370px;
    z-index: 1;
    display: none;
}
div#error i {
    font-size: 50px;
    color: red;
    margin-top: 30px;
}
div#error p {
    font-size: 26px;
    text-transform: capitalize;
    color: red;
    padding: 18px 2px;
}
/*pont box*/
.point_box {
    width: 340px;
    height: 195px;
    margin: auto;
    margin-top: 20px;
    padding: 0px 8px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 3px 18px -4px #0000009e;
}
.point_container {
    width: 330px;
    height: 195px;
    margin: auto;
    overflow: hidden;
}
.total_point,.point_text,.point_text p,.point_value,.point_value p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.total_point {
    width: 100%;
    margin: auto;
    text-align: center;
}
.point_text {
    width: 100px;
    height: 30px;
    text-align: left;
    padding: 3px 4px;
    float: left;
}
.point_text p {
    font-size: 19px;
    text-transform: uppercase;
    color: tomato;
}
.point_value {
    width: 225px;
    float: right;
    height: 30px;
    padding: 3px 0px;
}
.point_value p {
    font-size: 20px;
    font-family: cursive;
    text-align: left;
    color: darkred;
    width: 220px;
    margin: auto;
    height: auto;
}
.point_value p::first-letter {color: darkolivegreen;}
div#crown {
    width: 325px;
    height: 30px;
    font-size: 22px;
    margin: auto;
    overflow: hidden;
}
.point_scale {
    width: 100%;
    height: 130px;
    margin: auto;
    overflow: hidden;
}
div#starA {
    width: 99%;
    margin: auto;
    height: 26px;
}
.icon {
    width: 24px;
    height: 24px;
    font-size: 19px;
    overflow: hidden;
    background: #80808033;
    padding: 0;
    display: grid;
    place-items: center;
    border-radius: 3px;
    float: left;
}
div#star_A_increase {
    width: 300px;
    background: #d2d1d1;
    float: right;
    height: 14px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}
div#runA,div#runB,div#runC,div#runD,div#runE,div#runF {height: 20px;}
a#link_active {background: black;color: white;}
