
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;font-family: 'Squada One';}
p {
	-youbkit-touch-callout: none; /* iOS Safari */
	-youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
	-moz-user-select: none;	   /* Firefox */
	-ms-user-select: none;		/* IE 10+ and Edge */
	user-select: none;			/* Non-prefixed version,
								  currently supported by Chrome and Opera */
}
#myscrll {
    width: 100%;
    height: 5px;
    background: yellow;
    position: fixed !important;
}
#hey {
    width: 0;
    height: 5px;
    background: green;
    position: fixed !important;
}

header {
    width: 100%;
    height: 50px;
    background: pink;
}
div#container {
    width: 1140px;
    margin: auto;
    padding: 6px;
}
div#icon {
    width: 260px;
    height: 50px;
    float: left;
    font-size: 26px;
    text-align: left;
    word-spacing: 34px;
    color: saddlebrown;
}

div#icon i:hover {
    transition: .4s;
    transform: translate(7px);
    color: black;
    text-decoration: underline;
}
div#pro-icon {
    width: 40px;
    height: 40px;
    float: right;
    transition: .2s;
    border-radius: 40px;
    background: black;
    overflow: hidden;
    display: grid;
}
#pro-icon:hover img {
    filter: brightness(0.5);
    border-radius: 50px;
    transition: .2s;
}
#pro-icon img{transition: .2s;border-radius: 50px;object-fit: cover;}
div#phone {
    font-size: 21px;
    width: 310px;
    height: 50px;
    float: left;
}
div#email {
    font-size: 21px;
    width: 440px;
    height: 50px;
    float: left;
}
div#phone:hover i,#email:hover i{
    color: saddlebrown;
    transition: .2s;
}
i{transition: .2s;}
#phone a,#email a{transition: .2s;}
#phone:hover a,#email:hover a{letter-spacing: 2px;transition: .2s; text-decoration: underline;}
.ser {
    width: 20%;
    height: 40px;
    text-align: center;
    margin-left: 100px;
    overflow: hidden;
    position: absolute;
    display: none;
}
input#abcSrc {
    font-family: system-ui;
    font-weight: 700;
    font-size: .9375rem;
    width: 88%;
    height: 33px;
    padding: 7px;
    border: 2px solid;
    border-radius: 30px;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #333 50%, transparent 50%);
    display: inline-block;
    transition: .2s;
    text-align: center;
}
input#abcSrc:hover {
    background-position: 0% 100%;
    color: white;
}
input#abcSrc:active {
    border-radius: 30px;
}