
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;font-family: sans-serif;}
body {
    font-size: .9375rem;;
}
section {
    width: 100%;
    height: auto;
}
.container {
    width: 1140px;
    margin: auto;
}
.side_bar {
    width: 230px;
    height: 282px;
    float: left;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.side_item {
    height: 35px;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 24px;
    background: #f0f2f5;
    border-radius: 6px;
}
.side_item:last-child {font-size: 15px;}
.side_item i{
    background: -webkit-linear-gradient(#006494, #85d02d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
}
.side_item:hover,.side_item:active{
    color: #000;
    background: #f0f3;
    border-radius: 6px;
}
.side_item:hover i,.side_item:active i{
    background: -webkit-linear-gradient(#000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contant_box {
    width: 900px;
    float: right;
    padding: 7px;
}
.general {
    width: 100%;
    margin: auto;
    height: auto;
    display: none;
}
ul {width: 840px;}
li {list-style: none;line-height: 40px;}
li:first-child label {
    font-size: 30px;
}
label {
    font-size: 16px;
    font-weight: 600;
    color: #333333e3;
    text-transform: capitalize;
}
li a {
    float: right;
    position: relative;
    left: -15px;
    font-weight: 600;
    color: blue;
}
li:nth-child(2) a,li:nth-child(4) a{
    left: -15px;
}
li p {
    float: right;
    margin-right: 320px;
    overflow: hidden;
    width: 400px;
}
li a i {opacity: 0;}
li:hover i {opacity: 1;}
li:hover {
    background: #f0f2f5;
    border-radius: 6px;
    padding: 2px 0px;
}
li:nth-child(3), li:last-child {cursor: not-allowed;}
li:nth-child(3):hover, li:last-child:hover {cursor: not-allowed;padding: 0px;}
li:nth-child(3) a, li:last-child a{cursor: not-allowed;color: #009999a6;font-weight: 100px;}
li:nth-child(3) a:hover, li:last-child a:hover{text-decoration: none;}
/*privacy*/
.privacy{display: none;}
.privacy ul li:hover {
    background: #f0f2f5;
    border-radius: 6px;
    padding: 0px 0px;
}
.privacy ul li p{text-transform: capitalize;}
li:hover li:first-child label{
    background: none;
    border-radius: none;
    padding: 0px;
}
li a:hover {text-decoration: underline;}
h5 {
    font-size: .9375rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 3px;
    background-size: 100% 200%;
    background-image: linear-gradient(to top,blue 50%,transparent 50%);
    transition: .1s;
    transition-timing-function: ease-in;
}
h5 i {
    font-size: 19px;
    color: #858600c7;
}
#side_hide{display: none;}
div#showA,div#showB,div#showC,div#showD,div#showE,div#showF {
    float: right;
    width: 70px;
    text-align: center;
    height: 35px;
    color: blue;
    font-size: 13px;
}
div#showA i,div#showB i,div#showC i,div#showD i,div#showE i,div#showF i {opacity: 0;}

.privacy ul li:hover div#showA i,.privacy ul li:hover div#showB i,
.privacy ul li:hover div#showC i,.privacy ul li:hover div#showD i,
.privacy ul li:hover div#showE i,.privacy ul li:hover div#showF i{opacity: 1;}

div#showA:hover,div#showB:hover,div#showC:hover,div#showD:hover,
div#showE:hover,div#showF:hover{text-decoration: underline;cursor: pointer;}
.hide{
    width: 140px;
    height: 180px;
    padding: 0px 4px;
    border: 6px;
    box-shadow: 0px 3px 5px -3px black;
    position: relative;
    margin: auto;
    display: none;
}
.hide h5:first-child{font-weight: bold;cursor: pointer;}
.hide h5:hover{
    color: white;
    background-position: 0% 100%;
}
hr {width: 100%;}

.pass_div {
    width: 840px;
    height: 320px;
    border-radius: 6px;
    box-shadow: 1px 2px 6px -1px black;
    padding: 10px;
    display: none;
}
.text {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    overflow-wrap: break-word;
    padding: 4px 6px;
    border: 1px solid greenyellow;
    border-radius: 6px;
}
.text:hover{box-shadow: 4px 5px 8px -6px black;}
.text span {font-size: .9375rem;color: #333333d1;}
.text a {float: right;font-size: 18px;}
.text a:hover{text-decoration: underline;}
.change {
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 40px;
    border-radius: 6px;
    border: 1px solid;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
}
.change span {
    font-size: 15px;
    font-weight: 600;
    display: none;
}
.change code {
    border: 1px solid;
    padding: 1px 5px;
    background: linear-gradient(0deg, black,#000000d9, transparent);
    color: #000000;
}
.change p:hover,.change span:hover{cursor: pointer;text-decoration: underline;}
.chckp {
    font-size: 13px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid rebeccapurple;
    color: red;
    padding: 1px 4px;
    cursor: none;
}
.pass_div label {font-size: 29px;}
div#pwd {text-align: center;display: none;}

/*Deleting code*/
div#delete {
    width: 850px;
    height: 270px;
    background: #000;
    color: red;
    border-radius: 6px;
    box-shadow: 3px 6px 15px 0px;
    padding: 5px 15px;
    text-transform: capitalize;
    display: none;
}
.dele {
    width: 100%;
    height: 240px;
    margin: auto;
}
.dele label:first-child {
    color: white;
    font-size: 29px;
}
#next,#nextB,#nextC,#nextD,#ys,#no{font-size: 15px;}
.dele hr {
    width: 300px;
    height: 3px;
    background: white;
}
.dele i {
    color: antiquewhite;
    font-size: 20px;
}
p {
    line-height: 24px;
    margin: auto;
    text-align: left;
}
p#second {cursor: not-allowed;}
p#first {
    margin-top: 15px;
    font-size: 16px;
    width: 250px;
    cursor: pointer;
}
p#first:hover{text-decoration: underline;color: yellow;}
p#second label {
    color: white;
    text-transform: initial;
    font-weight: 600;
    padding: 8px 2px;
}
p#second label:hover{
    cursor: pointer;
    text-decoration: underline;
}
div#three p {cursor: not-allowed;}
div#three{width: 500px;}
div#three label {
    color: white;
    font-weight: 600;
    padding: 8px 15px;
    cursor: pointer;
}
div#three label:hover{text-decoration: underline;}
p#four {
    cursor: not-allowed;
    width: 750px;
}
label#nextD {
    color: white;
    cursor: pointer;
    padding: 8px 2px;
    font-weight: 600;
}
label#nextD:hover{text-decoration: underline;}
p#five {
    width: 300px;
    cursor: pointer;
}
p#five:hover,p#six:hover{text-decoration: underline;color: rgb(170, 92, 78);}
p#six {
    width: 250px;
    cursor: pointer;
}
div#optnl b {margin-left: 130px;}
p#second,#three,p#four,p#five,p#six,#last{display: none;}
div#last {
    width: 100px;
    text-align: center;
    margin: auto;
    height: 37px;
    padding: 10px 0px;
    border: 1px solid red;
    color: wheat;
}
div#last label {
    cursor: pointer;
    padding: 1px 11px;
    border-right: 1px solid;
    font-size: 15px;
    color: white;
}
div#last label:last-child {border-right: none;}

/*suggest code*/
div#optnl {
    width: 840px;
    height: 200px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    box-shadow: 1px -1px 8px -3px;
    cursor: not-allowed;
    font-size: 24px;
}
.side_sugg {
    width: 200px;
    height: 130px;
    position: absolute;
    top: 38px;
    background: aquamarine;
    border-radius: 6px;
}
.sugg {
    width: 180px;
    height: 28px;
    margin: auto;
    background: aqua;
    border-radius: 6px;
    border: 1px solid cadetblue;
    margin-top: 3px;
}
.side_sugg i {
    font-size: 30px;
    position: relative;
    bottom: 115px;
    left: 150px;
    color: #4a05d8;
    animation: soo 1s .4s infinite;
}
@keyframes soo{
    from{font-size:33px}
    to{font-size: 20px;}
}


/*name edit panel*/
input[type=text],input[type=number] {
    border: 2px solid;
    border-radius: 3px;
    background: #f0f2;
    color: #333;
    text-align: center;
    width: 130px;
    height: 20px;
}
input[type=submit] {
    padding: 0px 6px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, blue 50%, transparent 50%);
    transition: .1s;
}
input[type=submit]:hover{
    color: white;
    background-position: 0% 100%;
}
form {
    width: 400px;
    float: left;
    padding: 0px 5px;
    display: none;
}
div#bar {
    color: brown;
    font-size: 21px;
    cursor: pointer;
    width: 20px;
    float: left;
    display: none;
}

