@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;font-family: 'Squada One', cursive;}

body{background: #333; color:white;}
form {
    width: 500px;
    height: auto;
    margin: auto;
    place-items: center;
    text-align: center;
    position: relative;
    top: 100px;
}

input[type="text"],input[type="email"]{
    width: 256px;
    height: 35px;
    padding: 5px;
    font-size: 19px;
    border: 1px solid navajowhite;
    font-family: 'Goldman', cursive;
    margin-bottom: 10px;
    transition: .4s;
    font-family: 'Squada One', cursive;
    background: black;
    color: white;
    border-radius: 50px;
    transition: .4s;
    box-shadow: 1px 1px 11px 6px wheat;
}
input[type="password"]{
    width: 256px;
    height: 35px;
    margin-left: 33px;
    padding: 5px;
    font-size: 19px;
    border: 1px solid navajowhite;
    font-family: 'Goldman', cursive;
    margin-bottom: 10px;
    transition: .4s;
    font-family: 'Squada One', cursive;
    background: black;
    color: white;
    border-radius: 50px;
    transition: .4s;
    box-shadow: 1px 1px 11px 6px wheat;
}
input[type="email"]:hover,input[type="password"]:hover{
    border-radius: 0px;
}

b {
    font-size: 33px;
    padding: 15px;
    border-bottom: wheat;
    position: relative;
    top: 53px;
    text-decoration: underline;
}
button {
    width: 100px;
    height: 33px;
    font-size: 33px;
    text-align: center;
    color: #333;
    transition: .4s;
}
button:hover{
    background: black;
    color: white;
    border-radius: 50px;
    transition: .4s;
    box-shadow: 1px 1px 11px 6px wheat;
}
input[type="checkbox"] {
    height: 24px;
    width: 32px;
    position: relative;
    right: 38px;
    top: 6px;
}
b#last {
    position: relative;
    top: 85px;
    left: 40%;
    font-family: auto;
    font-size: 17px;
    transition: .4s;
}
b#last a {
    color: white;
    font-family: auto;
    transition: .4s;
}
b#last a:hover{
    text-decoration: underline;
    position: relative;
    left: 6px;
    transition: .4s;
}
