
/*responsive code*/
/*max screen size 992px*/
@media only screen and  (max-width: 992px) {
    header {height: 46px;}
    div#container {width: 840px;height: 44px;}
    div#icon {
       width: 210px;
       height: 40px;
       font-size: 25px;
   }
   div#phone {font-size: 21px;width: 280px;height: 40px;}
   div#email {width: 150px;height: 40px;}
   div#pro-icon {
       width: 37px;
       height: 37px;
       transition: .2s;
       position: relative;
       top: -3px;
   }
   #pro-icon img {width: 37px;height: 37px;}
   input#abcSrc {height: 28px;padding: 0px 7px;}
}
/*max screen size 768px*/
@media only screen and  (max-width: 768px) {
   header {height: 38px;}
   div#container {width: 640px;height: 40px;}
   div#icon {
       width: 170px;
       height: 30px;
       font-size: 22px;
   }
   div#phone {
       font-size: 18px;
       width: 270px;
       height: 30px;
   }
   div#email {
       width: 110px;
       height: 30px;
       font-size: 18px;
   }
   div#phone i,div#email i{font-size:22px;}
   div#pro-icon {
       width: 33px;
       height: 33px;
       top: -4px;
   }
}
/*max screen size 576px*/
@media only screen and  (max-width: 576px){
   header {height: 28px;}
   div#container {width: 490px;height: 30px;}
   div#icon i:hover,div#icon i:active {transform: translate(4px);}
   div#icon {
       width: 120px;
       height: 23px;
       font-size: 18px;
       word-spacing: 15px;
   }
   div#phone {
       font-size: 17px;
       width: 210px;
       height: 23px;
       position: relative;
       bottom: 3px;
   }
   #phone:hover a, #email:hover a {letter-spacing: 1px;}
   span {display: none;}
   div#email {
       width: 28px;
       height: 22px;
       font-size: 18px;
       position: relative;
       left: 90px;
       bottom: 3px;
   }
   div#pro-icon {
       width: 28px;
       height: 28px;
       top: -7px;
       float: right;
   }
   .ser {width: 30%;height: 30px;}
   input#abcSrc {
       height: 23px;
       padding: 0px 7px;
       font-size: 11px;
   }
}
/*max screen size 480px*/
@media only screen and  (max-width: 480px){
   div#container{width: 460px;}
   div#icon {width: 115px;}
   div#email {left: 55px;}
   .ser {width: 30%;height: 30px;}
   input#abcSrc {
       height: 23px;
       padding: 0px 7px;
       font-size: 11px;
   }
}