/*responsive code*/
/*when screen size max 1140px*/
@media only screen and  (max-width: 1140px) {
    .container {width: 1000px;}
    .contant_box {width: 760px;}
    div#optnl {width: 800px;font-size: 23px;}
    u,.pass_div {width: 765px;}
    li p {width: 330px;}
    .privacy ul {width: 740px;}
    div#delete {width: 765px;height: 268px;box-shadow: 1px 3px 15px 0px;}
}
/*when screen size max 1100px*/
@media only screen and  (max-width: 1100px) {}
/*when screen size max 992px*/
@media only screen and  (max-width: 992px) {
    .container {width: 868px;}
    .contant_box,.general ul,.pass_div,div#optnl,.privacy ul,div#delete {width: 600px;}
    .side_sugg {width: 190px;height: 120px;}
    .sugg {width: 176px;height: 25px;margin-top: 4px;}
    div#optnl b {margin-left: 175px;font-size: 17px;}
    li p {margin-right: 230px;width: 250px;}
    .text,.change {height: 90px;}
    div#delete {box-shadow: 1px 1px 9px 0px;}
    p#four{width: 470px;}
    div#delete {height: 300px;}
    .side_item:last-child {height: 50px;}
}
/*when screen size max 868px*/
@media only screen and  (max-width: 868px) {
    .side_bar {width: 170px;}
    .container {width: 780px;}
    li p {width: 260px;}
    .side_item:last-child {height: 50px;}
}

/*when screen size max 768px*/
@media only screen and  (max-width: 768px) {
    .container {width: 99%;height: 576px;margin: auto;}
    .contant_box, .general ul, .pass_div, div#optnl, .privacy ul, div#delete {width: 99%;margin: auto;margin-top: 20px;}
    .side_bar {
        width: 250px;
        position: absolute;
        z-index: 1;
        background: aqua;
        border-radius: 6px;
        box-shadow: 0px 0px 5px -2px black;
        margin-top: 25px;
        display: none;
    }
    .side_sugg {margin-top: 25px;height: 142px;}
    .sugg {height: 28px;margin-top: 6px;}
    div#optnl b {font-size: 20px;}
    .side_item {width: 230px;margin: auto;margin-top: 17px;font-size: 16px;}
    .side_item:last-child {height: 40px;font-size: 15px;}
    #side_hide {
        display: block;
        position: relative;
        top: 248px;
        margin: auto;
        width: 50px;
        height: 20px;
        font-size: 20px;
        transition: .1s;
        text-align: center;
        background-size: 100% 200%;
        background-image: linear-gradient(to top, blue 50%, transparent 50%);
        border-radius: 24px;
    }
    div#side_hide:hover {background-position: 0% 100%;color: white;}
    div#bar {
        display: block;
        position: absolute;
        width: 98%;
        margin: auto;
        color: blue;
        text-align: center;
        background: aliceblue;
        box-shadow: 0px 0px 5px -1px black;
    }
    p#second,div#three p,p#four {cursor: pointer;}
    .dele label:first-child {font-size: 26px;}
    .dele label {font-size: 15px;}
    div#three p{font-size: 13px;}
    div#delete {height: 350px;}
}

/*when screen size max 720px*/
@media only screen and  (max-width: 720px) {
    .text, .change {height: 80px;overflow: hidden;}
    .text,li:first-child label{font-size: 25px;}
    .dele hr {width: 270px;height: 2px;}
    .pass_div label {font-size: 26px;}
    .text a {font-size: 15px;margin-right: 10px;}
}
/*when screen size max 668px*/
@media only screen and  (max-width: 668px) {div#optnl b {font-size: 15px;}}
/*when screen size max 600px*/
@media only screen and  (max-width: 600px) {li {line-height: 26px;}}
/*when screen size max 576px*/
@media only screen and  (max-width: 576px) {li p {margin: auto;}div#optnl b {width: 170px;}}
/*when screen size max 500px*/
@media only screen and  (max-width: 500px) {
    p#four {width: 450px;}
    .side_sugg {margin-right: 215px;}
    .text span {font-size: 13px;}
    .chckp {font-size: 10px;width: 380px;}
    .privacy ul li p {width: 215px;font-size: 12px;}
}